<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef9176">  <td>20/10/21 11:44:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase2.LinkVerification()[pri:2, instance:Assignment.TestCase2@26aa12dd]">LinkVerification</td> 
  <td>main@445288316</td>   <td></td> </tr>
<tr bgcolor="ef9176">  <td>20/10/21 11:43:51</td>   <td>-24649</td> <td>&nbsp;</td><td title="&gt;&gt;TestCase2.SetUp()[pri:0, instance:Assignment.TestCase2@26aa12dd]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@445288316</td>   <td></td> </tr>
<tr bgcolor="ef9176">  <td>20/10/21 11:44:01</td>   <td>-14552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase2.TitleVerification()[pri:1, instance:Assignment.TestCase2@26aa12dd]">TitleVerification</td> 
  <td>main@445288316</td>   <td></td> </tr>
</table>
